.thanks {
}
.thanks__container {
    max-width: 430px;
    padding: 13px 10px 30px;
}
.thanks__logo {
    margin-bottom: 18px;
}
.thanks__logo-img {
}
.congratulation {
    background: rgba(92, 232, 196, 0.9);
    border: 2px solid rgba(0, 0, 0, 0.5);
    border-radius: 25px;
    padding: 85px 15px 20px;
    position: relative;
    &::before {
        content: "";
        background: url('../img/thanks/check.svg');
        width: 50px;
        height: 50px;
        display: inline-block;
        left: 50%;
        top: 15px;
        transform: translateX(-25px);
        position: absolute;
    }
}
.congratulation__title {
    text-align: center;
    font-family: var(--font-family);
    font-weight: 800;
    font-size: 26px;
    line-height: 150%;
    letter-spacing: -0.01em;
    text-align: center;
    color: #0f1322;
}
.congratulation__description {
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 14px;
    line-height: 150%;
    letter-spacing: -0.01em;
    text-align: justify;
    color: #0f1322;
    margin-top: 5px;
}
.subscription {
    width: 100%;
    margin-top: 17px;
}
.subscription__item {
    &:not(:first-child) .subscription__item-title {
        margin-top: 7px;
    }
    &:nth-child(2) .subscription__item-body {
        &::before {
            content: "";
            background: url('../img/thanks/private.svg');
            width: 30px;
            height: 30px;
            display: inline-block;
            left: 13px;
            position: absolute;
        }
    }
    &:nth-child(3) .subscription__item-body {
        &::before {
            content: "";
            background: url('../img/thanks/best.svg');
            width: 19.29px;
            height: 30px;
            display: inline-block;
            left: 18px;
            position: absolute;
        }
    }
}
.subscription__item-body {
    background: rgba(221, 255, 99, 0.9);
    border: 2px solid rgba(0, 0, 0, 0.5);
    border-radius: 15px;
    padding: 15px 0;
    text-align: center;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 10px;
    position: relative;
    &::before {
        content: "";
        background: url('../img/thanks/calendar.svg');
        width: 25px;
        height: 25px;
        display: inline-block;
        left: 15px;
        position: absolute;
    }
}
.subscription__item-title {
    text-align: center;
    font-family: var(--font-family);
    font-weight: 800;
    font-size: 22px;
    line-height: 150%;
    letter-spacing: -0.01em;
    text-align: center;
    color: #0f1322;
    margin-bottom: 5px;
}
.subscription__item-text {
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 12px;
    line-height: 150%;
    letter-spacing: -0.01em;
    text-align: center;
    color: #0f1322;
    padding-right: 22px;
    padding-left: 55px;
}
.subscription__right {
    background: rgba(0, 0, 0, 0.8);
    border-radius: 8px;
    font-family: var(--font-family);
    font-weight: 800;
    font-size: 11px;
    line-height: 150%;
    letter-spacing: -0.01em;
    text-align: center;
    color: rgba(221, 255, 99, 0.9);
    max-width: 45px;
    width: 62px;
    height: 40px;
    display: flex;
    align-items: center;
}
.ticket {
    border: 0;
    margin-top: 20px;
    width: 100%;
    min-height: 120px;
    display: flex;
}
.ticket__body {
    background-image: url('../img/thanks/car.png');
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    position: relative;
    flex: 1;
    border-radius: 15px 10px 10px 15px;
    &::after {
        content: "";
        background: url('../img/thanks/line.svg');
        width: 2px;
        height: 100px;
        display: inline-block;
        right: 0;
        top: 10px;
        position: absolute;
    }
}
.ticket__title {
    font-family: var(--font-family);
    font-weight: 800;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: -0.01em;
    text-align: center;
    color: rgba(255, 255, 255, 0.9);
    margin-top: 5px;
}
.ticket__description {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 10px;
    line-height: 150%;
    letter-spacing: -0.01em;
    text-align: center;
    color: rgba(255, 240, 0, 0.9);
    max-width: 260px;
    text-align: center;
    padding: 0 15px;
}
.ticket__result {
    font-family: var(--font-family);
    font-weight: 800;
    font-size: 10px;
    line-height: 150%;
    letter-spacing: -0.01em;
    text-align: center;
    color: rgba(255, 255, 255, 0.9);
    margin-top: auto;
    padding-bottom: 10px;
}
.ticket__number {
    background: #000;
    border-radius: 15px 10px 10px 15px;
    max-width: 62px;
}
.ticket__number-wrap {
    transform: rotate(-90deg);
    max-width: 118px;
    min-height: 122px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.ticket__number-text {
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 18px;
    line-height: 150%;
    letter-spacing: -0.01em;
    text-align: center;
    color: rgba(255, 240, 0, 0.9);
}
.thanks__bottom {
    margin-top: 20px;
    padding-bottom: 30px;
}
.thanks__bottom-text {
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 11px;
    line-height: 150%;
    letter-spacing: -0.01em;
    text-align: center;
    color: #0f1322;
    padding: 0 12px;
}
.thanks__bottom-wrap {
    display: flex;
    width: 100%;
    gap: 10px;
    margin-top: 15px;
}
.thanks__bottom-mail {
    background: rgba(0, 0, 0, 0.05);
    border: 2px solid rgba(0, 0, 0, 0.5);
    border-radius: 8px;
    padding: 11px 10px 11px 10px;
    flex: 1;
}
::-webkit-input-placeholder { /* WebKit browsers */
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 8px;
    line-height: 150%;
    letter-spacing: -0.01em;
    color: rgba(0, 0, 0, 0.5);
 }
 :-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 8px;
    line-height: 150%;
    letter-spacing: -0.01em;
    color: rgba(0, 0, 0, 0.5);
 }
 ::-moz-placeholder { /* Mozilla Firefox 19+ */
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 8px;
    line-height: 150%;
    letter-spacing: -0.01em;
    color: rgba(0, 0, 0, 0.5);
 }
 :-ms-input-placeholder { /* Internet Explorer 10+ */
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 8px;
    line-height: 150%;
    letter-spacing: -0.01em;
    color: rgba(0, 0, 0, 0.5);
 }
.thanks__bottom-btn {
    border: 1px solid rgba(0, 0, 0, 0.5);
    border-radius: 8px;
    background: rgba(0, 0, 0, 0.9);
    font-family: var(--font-family);
    font-weight: 800;
    font-size: 12px;
    line-height: 150%;
    letter-spacing: -0.01em;
    text-align: center;
    color: #fff;
    padding: 11px 11px 11px 38px;
    position: relative;
    &::after {
        content: "";
        background: url('../img/thanks/notification.svg');
        width: 16px;
        height: 19px;
        display: inline-block;
        left: 11px;
        top: 11px;
        position: absolute;
    }
}