.detailed-question__container {
    padding: 15px 15px 20px 15px;
    border-radius: 25px;
    border: 1px solid grey;
    max-width: 410px;
}
.detailed-question__title {
    font-size: 24px;
    max-width: 380px;
}
.title {
}
.detailed-question__body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    margin-top: 20px;
    position: relative;
}
.detailed-question__field {
    background: rgba(0, 0, 0, 0.05);
    border: 1px solid rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    padding: 10px;
    min-height: 190px;
}
.detailed-question__field::-webkit-input-placeholder { /* WebKit browsers */
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 12px;
    line-height: 150%;
    letter-spacing: -0.01em;
    color: #0f1322;
 }
 .detailed-question__field:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 12px;
    line-height: 150%;
    letter-spacing: -0.01em;
    color: #0f1322;
 }
 .detailed-question__field::-moz-placeholder { /* Mozilla Firefox 19+ */
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 12px;
    line-height: 150%;
    letter-spacing: -0.01em;
    color: #0f1322;
 }
 .detailed-question__field:-ms-input-placeholder { /* Internet Explorer 10+ */
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 12px;
    line-height: 150%;
    letter-spacing: -0.01em;
    color: #0f1322;
 }
.detailed-question__warning {
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 8px;
    line-height: 150%;
    letter-spacing: -0.01em;
    color: #f00;
    position: absolute;
    bottom: 14px;
    left: 10px;
}
.detailed-question__btn {
}
.btn {
}