.questions__container {
    padding: 15px 15px 20px 15px;
    border-radius: 25px;
    border: 1px solid grey;
    max-width: 410px;
    max-height: 495px;
}
.question__title {
    max-width: 260px;
}
.questionsForm {
    width: 100%;
}
.questions__item {
    border: 1px solid rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    background: rgba(0, 0, 0, 0.05);
    padding: 12px 0 12px 10px;
    width: 100%;
    display: flex;
    align-items: center;
    &:not(:last-child) {
        margin-bottom: 10px;
    }
}
.questions__item-active {
    background: rgba(54, 135, 114, 0.2);
    border: 1px solid rgba(54, 135, 114, 0.8);
}
.questions__item-check {
    appearance: none;
    -webkit-appearance: none;
    border-radius: 100%;
    border: 2px solid #797979;
    width: 20px;
    height: 20px;
    cursor: pointer;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.questions__item-check:checked {
    border: 0;
    background-image: url('../img/check.svg');
}
.questions__item-text {
    margin-left: 10px;
    font-family: var(--font-family);
    font-weight: 800;
    font-size: 12px;
    line-height: 150%;
    letter-spacing: -0.01em;
    color: #0f1322;
}